.postContainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/postPreview.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    box-shadow: var(--shadow-color) 0px 10px 5px -5px;
    transition: box-shadow 0.1s;
}

.postContainer:hover {
    box-shadow: var(--hover-color) 0px 10px 5px -5px;

}

.postPreviewHeader {
    height: 80px;
    background-image: url('../../assets/shoe.png');
    background-size: 100px 100px;
}

@media screen and (max-width: 450px) {
  .postContainer {
    height: 200px;
  }

  .postPreviewHeader {
    height: 40px;
    background-size: 80px 80px;
    background-position:center;
  }
  
}

.subText {
  color: var(--sub-text-color);
  font-size: 90%;
  font-family: var(--mono-font);
}
