.postContainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/postPreview.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    box-shadow: var(--shadow-color) 0px 10px 5px -5px;
}

.postPreviewHeader {
    height: 80px;
    background-image: url('../../assets/shoe.png');
    background-size: 100px 100px;
}

