.header {
    background-color: blue;
    justify-content: end;
    height: 70px;
    justify-content: center;
}

.linksGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}