.blogPostContent {
    margin-block: 40px;
    border-radius: 10px;
    padding-inline: 20px;
    padding-block: 10px;
    word-wrap: break-word;
    box-shadow: var(--shadow-color) 0px 20px 30px -30px;
}

.subText {
  font-family: var(--mono-font);
  font-size: 90%;
  color: var(--sub-text-color);
}