:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color: rgba(3, 2, 2, 0.87);
}

main {
}

body {
  margin: 0;
}

a {
  text-decoration: inherit;
  color: var(--color)
  
}

hr {
  background-color: black;
  height: 2px;
  border: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
